.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img{
    width: 23%;
    border-radius: 10px;
}

.btn1{
    display: inline-flex;
    align-items: center;
    border: 0;
    outline: 0;
    padding: 14px 20px;
    background-color: rgb(34, 34, 158);
    color: white;
    font-size: 16px;
    border-radius: 50px;
}

.btn1 img{
    width: 20px;
    margin-left: 10px;
}