.footer{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979 ;
}

.footer ul{
    list-style: none;
    display: flex;
    gap:20px;
}

.footer p{
    margin-top: 15px;
}

