.wrapper{
    font-family: "Geist Mono", monospace;
    display: flex ;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper button{
    margin: 10px;
    padding: 10px;
    background-color: #614101;
    font-weight: bold;
    border: none;
    color: white;
    box-shadow: 3px 4px 3px black;
    cursor: pointer;
}

.accordion{
    width: 500px;
}

.title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}



.item{
    background-color: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
}