.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid;
  gap: 10px;
}

.product img{
  width: 200px;
  height: 200px;
}

.product p{
  text-align: center;
}

.button-container{
  text-align: center;
}

.button-container button{
  width: 250px;
  background-color:slategray;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.button-container button:hover{
  background-color: rgb(141, 152, 163);
}
